/* PAGE LAYOUT */

.wrapper {

    //padding: 0 15px;
    padding: 0 $screen-xxs-wrapper--padding;

    //width: $screen-xxs-wrapper;
    //max-width: $screen-xxs-wrapper;
    width: 100%;
    margin:auto;


    @media only screen and (min-width: $screen-xs) {
        width: $screen-xs-wrapper;
        max-width: $screen-xs-wrapper;
        margin:auto;
    }

    @media only screen and (min-width: $screen-small) {
        width: $screen-ipad-v-wrapper;
        max-width: $screen-ipad-v-wrapper;
        margin:auto;
    }

    @media only screen and (min-width: $screen-medium) {
        width: $screen-ipad-h-wrapper;
        max-width: $screen-ipad-h-wrapper;
        margin:auto;
    }

    @media only screen and (min-width: $screen-full) {
        width: $screen-desktop-wrapper;
        max-width: $screen-desktop-wrapper;
        margin:auto;
        padding: 0;
    }
}

#content, .main-foot, body {
    background: transparent!important;
}


a:visited, .lnk:visited {
    color: inherit;
}


.ul-top-nav>li {
    float: right;
    position: relative;
    top: 8px;

    &.li-sign {
        top: 0;

        .btn-theme {
            width:auto;
            min-width: 83px;
            padding: 0 12px;
        }

    }
}
.ul-top-nav>li>a.link:hover, .ul-top-nav>li>a.link:focus, .ul-top-nav>li:hover .link, .ul-top-nav>li:focus .link {
    //color: #ae5279;
    color: inherit;
}

.mobile {
    display: block !important;


    @media only screen and (min-width: $screen-ipad-v) {
        display: block !important;
    }

    @media only screen and (min-width: $screen-ipad-h) {
        display: none !important;
    }

    @media only screen and (min-width: $screen-desktop) {
        display: none !important;
    }
}

.desktop,
.head,
.main-nav.desktop {
    display: none !important;

    @media only screen and (min-width: $screen-ipad-v) {
        display: none !important;
    }

    @media only screen and (min-width: $screen-ipad-h) {
        display: block !important;
    }

    @media only screen and (min-width: $screen-desktop) {
        display: block !important;
    }
}

.rc-anchor-normal {
    @media only screen and (max-width: $screen-xxs) {
        width: 98%!important;
    }
}



.accordion-blocks {
    overflow: hidden;

    @media only screen and (min-width: $screen-small) {

        border-top:1px solid #9b9b9b;
        border-bottom:1px solid #9b9b9b;
        padding-top: 45px;
        padding-bottom: 45px;
        margin-top: 35px;
        margin-bottom: 45px;

        .block--text--accordion {
            width: 50%;
            float: left;
            margin: 0;
            padding-right: 20px;
        }

        .block--text--accordion + .block--text--accordion {
            padding-right: 0;
            padding-left: 20px;
        }
    }
}

#main-page {

    .home-mobile--h1{
        //font-family: WorkSans;
        color:  #333333;
        font-size: 30px;
        font-weight: 900;
        line-height: 58px;
        text-align: left;
        text-transform: uppercase;

        @media only screen and (min-width: $screen-ipad-v) {
            color:  #333333;
            font-size: 44px;
            font-weight: 900;
            line-height: 46px;
            text-align: left;
            text-transform: uppercase;
        }

        @media only screen and (min-width: $screen-ipad-h) {
            color:  #333333;
            font-size: 44px;
            font-weight: 900;
            line-height: 46px;
            text-align: left;
            text-transform: uppercase;
        }

        @media only screen and (min-width: $screen-desktop) {
            color:  #333333;
            font-size: 33px;
            font-weight: 900;
            line-height: 34px;
            text-align: left;
            text-transform: uppercase;

            display: none;

        }

        @include common-headings-style-h1 ();

    }
}

.play--h1{
    //font-family: WorkSans;
    color:  #333333;
    font-size: 30px;
    font-weight: 900;
    line-height: 58px;
    text-align: left;
    text-transform: uppercase;

    @media only screen and (min-width: $screen-ipad-v) {
        color:  #333333;
        font-size: 44px;
        font-weight: 900;
        line-height: 46px;
        text-align: left;
        text-transform: uppercase;
    }

    @media only screen and (min-width: $screen-ipad-h) {
        color:  #333333;
        font-size: 44px;
        font-weight: 900;
        line-height: 46px;
        text-align: left;
        text-transform: uppercase;
    }

    @media only screen and (min-width: $screen-desktop) {
        color:  #333333;
        font-size: 33px;
        font-weight: 900;
        line-height: 34px;
        text-align: left;
        text-transform: uppercase;

        display: none;

    }

    @include common-headings-style-h1 ();

}