@import url("https://fonts.googleapis.com/css?family=Chivo:400,600,700|Roboto:400,700,900|Roboto+Condensed:700|Work+Sans:300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Chivo:400,600,700|Roboto:400,700,900|Roboto+Condensed:700|Work+Sans:300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Chivo:400,600,700|Roboto:400,700,900|Roboto+Condensed:700|Work+Sans:300,400,500,600,700,900");
@import url("https://fonts.googleapis.com/css?family=Chivo:400,600,700|Roboto:400,700,900|Roboto+Condensed:700|Work+Sans:300,400,500,600,700,900");
.cols:before,
.cols:after {
    content: "";
    display: table
}

.cols:after {
    clear: both
}

.cols {
    *zoom: 1
}

.col1 {
    width: 8.33333333333333%
}

.col2 {
    width: 16.66666666666667%
}

.col3 {
    width: 25%
}

.col4 {
    width: 33.33333333333333%
}

.col5 {
    width: 41.66666666666667%
}

.col6 {
    width: 50%
}

.col7 {
    width: 58.33333333333333%
}

.col8 {
    width: 66.66666666666667%
}

.col9 {
    width: 75%
}

.col10 {
    width: 83.33333333333333%
}

.col11 {
    width: 91.66666666666667%
}

.col12 {
    width: 100%;
    margin: 0
}

.col20per {
    width: 20%
}

@media screen and (max-width: 768px) {
    body:not(.play) .cols {
        margin-bottom: 0;
        display: block
    }
    body:not(.play) .col1,
    body:not(.play) .col2,
    body:not(.play) .col3,
    body:not(.play) .col4,
    body:not(.play) .col5,
    body:not(.play) .col6,
    body:not(.play) .col7,
    body:not(.play) .col8,
    body:not(.play) .col9,
    body:not(.play) .col10,
    body:not(.play) .col11,
    body:not(.play) .col12,
    body:not(.play) .col20per {
        display: block;
        float: none;
        position: relative;
        width: 100%;
        border: 0 !important;
        margin: 0 0 2em;
        padding-bottom: 0
    }
}


/*! jQuery Mobile v1.4.5 | Copyright 2010, 2014 jQuery Foundation, Inc. | jquery.org/license */

.ui-mobile,
.ui-mobile body {
    height: 99.9%
}

.ui-mobile fieldset,
.ui-page {
    padding: 0;
    margin: 0
}

.ui-mobile a img,
.ui-mobile fieldset {
    border-width: 0
}

.ui-mobile fieldset {
    min-width: 0
}

@-moz-document url-prefix() {
    .ui-mobile fieldset {
        display: table-column;
        vertical-align: middle
    }
}

.ui-mobile-viewport {
    margin: 0;
    overflow-x: visible;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}

body.ui-mobile-viewport,
div.ui-mobile-viewport {
    overflow-x: hidden
}

.ui-mobile [data-role=page],
.ui-mobile [data-role=dialog],
.ui-page {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: none;
    border: 0
}

.ui-page {
    outline: none
}

.ui-mobile .ui-page-active {
    display: block;
    overflow: visible;
    overflow-x: hidden
}

@media screen and (orientation: portrait) {
    .ui-mobile .ui-page {
        min-height: 420px
    }
}

@media screen and (orientation: landscape) {
    .ui-mobile .ui-page {
        min-height: 300px
    }
}

.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms
}

.out {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 225ms;
    animation-timing-function: ease-in;
    animation-duration: 225ms
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeout {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fade.out {
    opacity: 0;
    -webkit-animation-duration: 125ms;
    -webkit-animation-name: fadeout;
    animation-duration: 125ms;
    animation-name: fadeout
}

.fade.in {
    opacity: 1;
    -webkit-animation-duration: 225ms;
    -webkit-animation-name: fadein;
    animation-duration: 225ms;
    animation-name: fadein
}

@-webkit-keyframes slideinfromright {
    from {
        -webkit-transform: translate3d(100%, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes slideinfromright {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideinfromleft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0)
    }
    to {
        -webkit-transform: translate3d(0, 0, 0)
    }
}

@keyframes slideinfromleft {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0)
    }
}

@-webkit-keyframes slideouttoleft {
    from {
        -webkit-transform: translate3d(0, 0, 0)
    }
    to {
        -webkit-transform: translate3d(-100%, 0, 0)
    }
}

@keyframes slideouttoleft {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%)
    }
}

@-webkit-keyframes slideouttoright {
    from {
        -webkit-transform: translate3d(0, 0, 0)
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0)
    }
}

@keyframes slideouttoright {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(100%)
    }
}

.slide.out,
.slide.in {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms
}

.slide.out {
    -webkit-transform: translate3d(-100%, 0, 0);
    -webkit-animation-name: slideouttoleft;
    transform: translateX(-100%);
    animation-name: slideouttoleft
}

.slide.in {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation-name: slideinfromright;
    transform: translateX(0);
    animation-name: slideinfromright
}

.slide.out.reverse {
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-animation-name: slideouttoright;
    transform: translateX(100%);
    animation-name: slideouttoright
}

.slide.in.reverse {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-animation-name: slideinfromleft;
    transform: translateX(0);
    animation-name: slideinfromleft
}

.ui-table {
    border: 0;
    border-collapse: collapse;
    padding: 0;
    width: 100%
}

.ui-table th,
.ui-table td {
    line-height: 1.5em;
    text-align: left;
    padding: .4em .5em;
    vertical-align: top
}

.ui-table th .ui-btn,
.ui-table td .ui-btn {
    line-height: normal
}

.ui-table th {
    font-weight: 700
}

.ui-table caption {
    text-align: left;
    margin-bottom: 1.4em;
    opacity: .5
}

.ui-table-columntoggle-btn {
    float: right;
    margin-bottom: .8em
}

.ui-table-columntoggle-popup fieldset {
    margin: 0
}

.ui-table-columntoggle {
    clear: both
}

@media only all {
    th.ui-table-priority-6,
    td.ui-table-priority-6,
    th.ui-table-priority-5,
    td.ui-table-priority-5,
    th.ui-table-priority-4,
    td.ui-table-priority-4,
    th.ui-table-priority-3,
    td.ui-table-priority-3,
    th.ui-table-priority-2,
    td.ui-table-priority-2,
    th.ui-table-priority-1,
    td.ui-table-priority-1 {
        display: none
    }
}

.ui-loading .ui-loader {
    display: block
}

.ui-loader {
    display: none;
    z-index: 9999999;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 0
}

.ui-loader-default {
    background: 0 0;
    filter: Alpha(Opacity=18);
    opacity: .18;
    width: 2.875em;
    height: 2.875em;
    margin-left: -1.4375em;
    margin-top: -1.4375em
}

.ui-loader-verbose {
    width: 12.5em;
    filter: Alpha(Opacity=88);
    opacity: .88;
    box-shadow: 0 1px 1px -1px #fff;
    height: auto;
    margin-left: -6.875em;
    margin-top: -2.6875em;
    padding: .625em
}

.ui-loader-default h1 {
    font-size: 0;
    width: 0;
    height: 0;
    overflow: hidden
}

.ui-loader-verbose h1 {
    font-size: 1em;
    margin: 0;
    text-align: center
}

.ui-loader .ui-icon-loading {
    background-color: #000;
    display: block;
    margin: 0;
    width: 2.75em;
    height: 2.75em;
    padding: .0625em;
    border-radius: 2.25em
}

.ui-loader-verbose .ui-icon-loading {
    margin: 0 auto .625em;
    filter: Alpha(Opacity=75);
    opacity: .75
}

.ui-loader-textonly {
    padding: .9375em;
    margin-left: -7.1875em
}

.ui-loader-textonly .ui-icon-loading {
    display: none
}

.ui-loader-fakefix {
    position: absolute
}

.ui-bar,
.ui-body {
    position: relative;
    padding: .4em 1em;
    overflow: hidden;
    display: block;
    clear: both
}

.ui-bar h1,
.ui-bar h2,
.ui-bar h3,
.ui-bar h4,
.ui-bar h5,
.ui-bar h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    display: inline-block
}

#main-page>.ui-content {
    padding: 0
}

.ui-link:hover,
.ui-link:focus {
    text-decoration: none !important
}

.ui-radio {
    display: inline-block
}

.ui-mobile label {
    display: inline-block
}

body .ui-mobile .ui-page-active,
body .ui-content,
body #content {
    overflow: unset !important
}

.ui-table-reflow td,
.ui-table-reflow th {
    text-align: left;
    display: block
}

.ui-table-reflow .ui-table-cell-label {
    min-width: 30%;
    display: inline-block
}

.ui-table-reflow .ui-table-cell-label-top {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: normal
}

@media screen and (min-width: 481px) {
    .ui-responsive td,
    .ui-responsive th {
        display: table-cell;
        margin: 0
    }
    .ui-responsive .ui-table-cell-label {
        display: none
    }
}

@media only screen and (max-width: 480px) {
    .ui-responsive thead {
        display: none
    }
}

.cols {
    position: relative;
    margin-bottom: 2em;
    display: table;
    width: 100%
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col20per {
    display: table-cell;
    float: none;
    vertical-align: top;
    position: relative;
    box-sizing: content-box
}

.styled-select {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 100%
}

.styled-select .mySelect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    opacity: 0;
    width: 100%;
    cursor: pointer
}

.styled-select .select-txt {
    font-size: 0.875em;
    border: 1px solid #777;
    border-radius: 3px;
    height: 30px;
    padding: 4px 26px 0 7px;
    color: #333;
    background: #fff
}

.styled-select .select-txt:before {
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333;
    content: ""
}

.styled-select option {
    background: #fff;
    padding: 4px
}

.styled-select.disabled .mySelect {
    cursor: default
}

.styled-select.disabled .select-txt {
    background: #aaa;
    color: #777;
    border: 1px solid #777
}

.styled-select.disabled .select-txt:before {
    border-top: 6px solid #777
}

@media only screen and (max-width: 768px) {
    .styled-select {
        height: 40px
    }
    .styled-select .select-txt {
        height: 40px;
        padding-top: 9px
    }
    select {
        padding: 10px 5px;
        line-height: 40px
    }
}

.cols {
    position: relative;
    margin-bottom: 2em;
    display: table;
    width: 100%
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col20per {
    display: table-cell;
    float: none;
    vertical-align: top;
    position: relative;
    box-sizing: content-box
}

.modal {
    display: none
}

.modal.basic {
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
    background-color: #fff;
    border-radius: 5px;
    font-size: 0.9375em
}

.modal.win {
    position: relative;
    display: block;
    width: 900px;
    height: 300px;
    border-radius: 5px;
    background: url(~/img/win/win.jpg) no-repeat
}

.modal.win .btn-box {
    position: absolute;
    right: 35px;
    bottom: 25px;
    display: inline-block
}

.fix-modal {
    margin: auto !important;
    left: auto !important;
    position: fix;
    top: 100px;
    z-index: 10000001
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3 / 2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
    .modal.win {
        background-image: url(~/img/win/win@2x.jpg);
        background-size: 900px 300px
    }
}

@media only screen and (max-width: 992px) {
    .modal.win {
        width: 454px;
        height: 244px;
        background: url(~/img/win/win-mobile.jpg) no-repeat
    }
    .modal.win .btn-box {
        width: 100%;
        left: 0;
        right: auto;
        margin: auto;
        bottom: 40px
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3 / 2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx),
only screen and (max-width: 768px) {
    .modal.win {
        width: 454px;
        height: 244px;
        background-image: url(~/img/win/win-mobile@2x.jpg);
        background-size: 454px 244px
    }
}

.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.slow {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

.cols {
    position: relative;
    margin-bottom: 2em;
    display: table;
    width: 100%
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col20per {
    display: table-cell;
    float: none;
    vertical-align: top;
    position: relative;
    box-sizing: content-box
}

.cols {
    position: relative;
    margin-bottom: 2em;
    display: table;
    width: 100%
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col20per {
    display: table-cell;
    float: none;
    vertical-align: top;
    position: relative;
    box-sizing: content-box
}

html,
body,
applet,
object,
iframe,
svg,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure,
header,
footer,
figure,
details,
hgroup,
section,
article,
nav,
aside,
picture,
main {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-decoration: inherit;
    background: transparent;
    vertical-align: baseline
}

header,
footer,
figure,
details,
hgroup,
section,
article,
nav,
aside,
picture,
main {
    display: block
}

img,
object,
audio,
video {
    max-width: 100%
}

svg,
select {
    width: 100%
}

* {
    box-sizing: border-box
}

.no-lnk,
.no-lnk:hover {
    display: block;
    color: #333 !important;
    text-decoration: none
}

a,
.lnk {
    text-decoration: underline;
    color: #5350a2;
    border: none
}

.lnk>.ico,
.no-lnk .btn,
.no-lnk .btn .ico {
    color: #5350a2
}

a:visited,
.lnk:visited {
    color: #A846B5
}

a:hover,
a:focus,
.lnk:hover,
.lnk:focused {
    text-decoration: none;
    color: #474ea0
}

a:active,
.lnk:active {
    color: #c03
}

body {
    color: #333;
    text-align: center;
    line-height: 1.25em
}

p {
    margin-bottom: 1em
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%
}

strong {
    font-weight: 700
}

nav ul,
.main-foot ul {
    list-style: none
}

nav a,
.main-foot ul a,
#nav-account a {
    text-decoration: none
}

em {
    font-style: italic
}

select {
    padding: 5px;
    border: 1px solid #aaa;
    line-height: 30px
}

button {
    cursor: pointer
}

hr {
    border: 0;
    background: #aaa;
    height: 1px;
    margin-bottom: 1em
}

hr.yellow {
    background: #efc048;
    margin: 0 -15px
}

.radio {
    margin-left: 0
}

.no-li {
    list-style-type: none
}

.no-li li {
    margin-bottom: 0
}

.ol,
.ul {
    margin-left: 20px
}

.ol li,
.ul li {
    margin-bottom: .5em;
    padding-left: 5px
}

.left {
    float: left
}

img.left {
    margin: 0 10px 15px 0
}

.right {
    float: right
}

img.right {
    margin: 0 0 15px 10px
}

.inline li {
    display: inline-block
}

.center {
    margin: auto;
    text-align: center
}

.hidden {
    display: none
}

.hidden2 {
    position: absolute;
    left: -9999px;
    top: -9999px;
    line-height: 0
}

.cl:before,
.cl:after,
.wrapper:before,
.wrapper:after,
.btn:before,
.btn:after,
.box:before,
.box:after {
    content: " ";
    display: table
}

.cl:after,
.wrapper:after,
.btn:after,
.box:after {
    clear: both
}

.cl,
.wrapper,
.btn,
.box {
    *zoom: 1
}

[class^="v-"],
[class*=" v-"] {
    display: inline-block;
    fill: currentcolor;
    height: 1em;
    width: 1em
}

.input.error,
.select.error {
    border: 2px solid #c22 !important
}

.checkbox {
    margin: 0 !important;
    padding: 0
}

label.submit {
    cursor: pointer
}

.label {
    cursor: pointer;
    font-weight: 700;
    display: block;
    margin-bottom: 3px
}

.label+.input,
.label+.select {
    margin-bottom: 1em
}

.form-currency .currency {
    position: relative;
    top: 1px;
    right: -9px;
    font-weight: 700;
    color: #ebb019;
    display: inline-block;
    width: 0;
    z-index: 1;
    font-size: 16px
}

.form-currency .insert {
    width: 190px !important;
    padding: 5px 8px 6px 23px
}

.form-currency .select-email {
    width: 250px
}

.type-light {
    font-weight: normal;
    border: 2px solid #efc048;
    padding: 6px 10px !important
}

.type-light.place-top:after {
    border-top: 8px solid #efc048 !important;
    bottom: -8px !important
}

.type-light.place-bottom:after {
    border-bottom: 8px solid #efc048 !important;
    top: -8px !important
}

.type-light.place-right:after {
    border-right: 8px solid #efc048 !important;
    left: -8px !important
}

.type-light.place-left:after {
    border-left: 8px solid #efc048 !important;
    right: -8px !important
}

.__react_component_tooltip.show {
    opacity: 1 !important
}

.cvv .tooltip .__react_component_tooltip {
    max-width: 320px !important
}

.box {
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    margin-bottom: 1em
}

.box .ico {
    width: 30px;
    float: left
}

.box .v-checkmark {
    margin-top: 2px
}

.box .txt {
    display: block;
    font-size: 0.9375em;
    margin: 0 0 0 34px !important
}

.box.error {
    border: 1px solid #c22;
    background: #ffe0e0;
    color: #c22;
    font-size: 0.9375em
}

.box.error a {
    color: #5350a2
}

.box.error .v-warning {
    font-size: 21px
}

.box.success {
    border: 1px solid #004500;
    background: #e0ffe4;
    color: #004500
}

.box.info {
    border: 1px solid #efc048;
    border-radius: 5px;
    font-weight: normal;
    font-style: italic;
    font-size: basic-size
}

.box.info a:hover,
.box.info a:focus {
    text-decoration: none
}

.box.info .ico {
    font-size: 22px;
    width: 26px
}

.border {
    border: 1px solid #efc048;
    border-radius: 5px;
    padding: 15px
}

.border .txt {
    margin-bottom: 10px
}

.box-basic {
    border: 1px solid #efc048;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 0 auto;
    position: relative
}

.box-basic>h1 {
    color: #ebb019
}

.box-basic.large {
    width: 900px
}

.box-basic.medium {
    width: 760px
}

.box-basic.small {
    width: 400px;
    margin: 0 auto 8em
}

.btn {
    transition: background-color .3s, color .3s, border .3s, box-shadow .1s;
    display: inline-block;
    padding: 5px 12px;
    text-decoration: none;
    font-size: 0.875em;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid #777;
    color: #fff;
    background: #aaa;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc3Nzc3NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #777777));
    background-image: -moz-linear-gradient(#cccccc, #777777);
    background-image: -webkit-linear-gradient(#cccccc, #777777);
    background-image: linear-gradient(#cccccc, #777777)
}

.btn .ico {
    position: relative;
    top: 2px
}

.btn.expand {
    width: 100%
}

.btn.expand .ico {
    float: right;
    line-height: 20px
}

.btn.big {
    padding: 10px 15px;
    font-size: 1.125em
}

.btn.grey,
.tab,
.tab:visited {
    color: #fff
}

.btn.grey:hover,
.btn.grey:focus,
.tab:hover {
    background: #efc048;
    border: 1px solid #777;
    color: #fff;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #999999), color-stop(100%, #555555));
    background-image: -moz-linear-gradient(#999999, #555555);
    background-image: -webkit-linear-gradient(#999999, #555555);
    background-image: linear-gradient(#999999, #555555)
}

.btn.wide {
    width: 230px;
    text-align: center
}

.btn.white,
.tab.active,
.tab.active:visited {
    color: #474ea0;
    background: #fff;
    font-weight: normal;
    border: 1px solid #fff;
    text-shadow: 0 0 0 transparent
}

.btn.white:hover,
.btn.white:focus,
.gwy:hover,
.gwy:focus,
.gwp:hover,
.gwp:focus {
    border: 1px solid #ccc
}

.btn.white:active,
.gwy:active,
.gwp:active,
.gwg:active,
.bwb:active,
.rwr:active,
.ywy:active,
.pwp:active {
    border: 1px solid #666;
    box-shadow: inset 0 0 0 0 transparent
}

.btn.blue {
    background: #1479b9;
    border: 1px solid #0a3d5d;
    color: #fff;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE2ODVjYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNWE5MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1685cb), color-stop(100%, #005a92));
    background-image: -moz-linear-gradient(#1685cb, #005a92);
    background-image: -webkit-linear-gradient(#1685cb, #005a92);
    background-image: linear-gradient(#1685cb, #005a92)
}

.btn.blue:hover,
.btn.blue:focus {
    color: #1479b9;
    background: #fff;
    border: 1px solid #1479b9
}

.btn.red {
    background: #bf4e0b;
    border: 1px solid #5f2705;
    color: #fff;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAzMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0MjIyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3030), color-stop(100%, #b42222));
    background-image: -moz-linear-gradient(#ff3030, #b42222);
    background-image: -webkit-linear-gradient(#ff3030, #b42222);
    background-image: linear-gradient(#ff3030, #b42222)
}

.btn.red:hover,
.btn.red:focus {
    color: #bf4e0b;
    background: #fff;
    border: 1px solid #bf4e0b
}

.btn.purple {
    background: #ae5279;
    border: 1px solid #693149;
    color: #fff;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FlNTI3OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzgyMzA1NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ae5279), color-stop(100%, #823054));
    background-image: -moz-linear-gradient(#ae5279, #823054);
    background-image: -webkit-linear-gradient(#ae5279, #823054);
    background-image: linear-gradient(#ae5279, #823054)
}

.btn.purple:hover,
.btn.purple:focus {
    color: #ae5279;
    background: #fff;
    border: 1px solid #ae5279
}

.btn.green {
    background: #1479b9;
    border: 1px solid #0a3d5d;
    color: #fff;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0OTIyZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyNWYxZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #34922d), color-stop(100%, #225f1d));
    background-image: -moz-linear-gradient(#34922d, #225f1d);
    background-image: -webkit-linear-gradient(#34922d, #225f1d);
    background-image: linear-gradient(#34922d, #225f1d)
}

.btn.green:hover,
.btn.green:focus {
    color: #34922d;
    background: #fff;
    border: 1px solid #34922d
}

.gwy,
.gwr,
.gwp,
.gwg,
.bwb,
.rwr,
.ywy,
.pwp {
    font-weight: 700;
    background: #fff;
    text-shadow: 0 0 0 transparent
}

.gwy,
.gwy:visited {
    border: 1px solid #ddd;
    color: #ebb019
}

.gwy:hover,
.gwy:focus {
    border: 1px solid #ae5279;
    color: #ae5279
}

.gwr,
.gwr:visited {
    border: 1px solid #ddd;
    color: #c22
}

.gwr:hover,
.gwr:focus {
    border: 1px solid #c22;
    color: #fff;
    background: #c22
}

.gwp,
.gwp:visited {
    border: 1px solid #ddd;
    color: #ae5279
}

.gwp:hover,
.gwp:focus {
    border: 1px solid #333;
    color: #372c72
}

.gwg,
.gwg:visited {
    border: 1px solid #007800;
    background: #fff;
    color: #007800
}

.gwg:hover,
.gwg:focus {
    background: #007800;
    color: #fff
}

.bwb,
.bwb:visited {
    border: 1px solid #1c173b;
    background: #fff;
    color: #1c173b
}

.bwb:hover,
.bwb:focus {
    background: #1c173b;
    color: #fff
}

.pwp,
.pwp:visited {
    border: 1px solid #ae5279;
    background: #fff;
    color: #ae5279
}

.pwp:hover,
.pwp:focus {
    background: #ae5279;
    color: #fff
}

.pwp-active {
    background: #ae5279;
    color: #fff
}

.rwr,
.rwr:visited {
    border: 1px solid #c22;
    background: #fff;
    color: #c22
}

.rwr:hover,
.rwr:focus {
    background: #c22;
    color: #fff
}

.ywy,
.ywy:visited {
    border: 1px solid #ebb019;
    color: #ebb019
}

.ywy:hover,
.ywy:focus {
    border: 1px solid #ae5279;
    color: #ae5279
}

.gwy.active,
.ywy.active,
.gwy.active:active,
.ywy.active:active {
    background: #efc048 !important;
    color: #fff !important;
    border: 1px solid #916c0d !important;
    box-shadow: none !important
}

.combo>.btn {
    border-radius: 0;
    border-right: 0 solid #eee
}

.combo>.btn:hover:not(:last-child),
.combo>.btn:focus:not(:last-child),
.combo>.btn:active:not(:last-child) {
    border-right: 0 solid transparent !important
}

.combo>.btn:first-child {
    border-radius: 5px 0 0 5px
}

.combo>.btn:last-child {
    border-radius: 0 5px 5px 0
}

.back-top a {
    float: right;
    margin: -.5em 0 1.5em;
    text-decoration: none;
    font-size: 0.875em
}

.back-top a:hover,
.back-top a:focus {
    color: #1c173b
}

.back-top a .ico {
    position: relative;
    top: 1px;
    font-size: 12px;
    margin-right: 3px
}

.animate.infi {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes pulseRight {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes pulseRight {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

body,
.submit {
    font-family: "Work Sans", sans-serif
}

.h0,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 1em;
    font-weight: 700;
    line-height: normal
}

.h0 {
    font-size: 3.375em;
    margin-bottom: 0
}

.h1 {
    font-size: 1.875em
}

.h2 {
    font-size: 1.375em
}

.h3 {
    font-size: 1.125em
}

.h4 {
    font-size: 0.9375em
}

.h5,
p,
.btn.big,
ul.list {
    font-size: 0.875em
}

.h6,
.small-txt {
    font-size: 0.75em
}

#content {
    font-family: "Work Sans", sans-serif
}

.res {
    margin-bottom: 0 !important
}

.yellow {
    color: #ebb019
}

.grey {
    color: #777
}

.purple {
    color: #ae5279
}

.arrow-box,
.arrow-box2 {
    position: relative;
    border: 1px solid #bbb;
    background: #fff
}

.arrow-box:after,
.arrow-box:before,
.arrow-box2:after,
.arrow-box2:before {
    content: "";
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.arrow-box:after,
.arrow-box2:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px
}

.arrow-box:before,
.arrow-box2:before {
    border-color: rgba(187, 187, 187, 0);
    border-bottom-color: #bbb;
    border-width: 6px;
    margin-left: -6px
}

.arrow-box2:after,
.arrow-box2:before {
    left: 295px !important
}

.wrapper {
    max-width: 1180px;
    margin: auto;
    position: relative;
    min-width: 235px
}

.large.wrapper {
    max-width: 1400px
}

.minimal .logo {
    margin-bottom: 4px
}

.v-logo {
    height: 60px;
    width: 285px
}

.main-foot .v-logo {
    width: 200px;
    margin: 0
}

.main-foot {
    border-top: 5px solid #efc048;
    background: #fff;
    text-align: left;
    padding-top: 10px
}

.main-foot .cols {
    margin: 20px 0
}

.main-foot .info {
    color: #888;
    font-size: 70%;
    line-height: 150%
}

.main-foot .partner {
    text-align: right
}

.box-links .col20per {
    padding-right: 15px
}

.box-links li {
    margin-bottom: .7em;
    font-size: 85%
}

.box-links li:last-child {
    margin: 0
}

.box-links strong {
    display: inline-block;
    margin-bottom: .5em;
    font-size: 95%
}

.logo-social {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px
}

.logo-social li {
    display: inline-block;
    margin-left: 25px
}

.social {
    float: right
}

.social a {
    display: block;
    text-align: center;
    font-size: 115%;
    width: 34px;
    height: 34px
}

.social .ico {
    color: #fff;
    line-height: 34px;
    height: 34px;
    margin: auto
}

.fb,
.gp,
.tw {
    border-radius: 17px
}

.fb {
    background: #436fb5
}

.fb .ico {
    position: relative;
    top: -2px;
    left: -2px
}

.gp {
    background: #ff4544
}

.gp .ico {
    position: relative;
    top: 1px;
    left: 1px
}

.tw {
    background: #59c8ec
}

.partner li {
    vertical-align: middle;
    margin-left: 15px
}

.partner .card {
    width: 40px;
    height: 25px;
    border-radius: 3px
}

.minimal .main-foot .txt {
    text-align: right
}

.asterisk {
    color: #c22
}

.overlay-limit-bet {
    position: fixed;
    background-color: #ae5279;
    border: 2px solid black;
    border-radius: 5px;
    color: #ffffff;
    bottom: 10px;
    left: 10px;
    height: 80px;
    width: 120px;
    z-index: 999
}

.header {
    position: relative
}

.box-cookies {
    font-size: 0.75em;
    line-height: 28px
}

.top-nav .box-cookies {
    float: left;
    color: #eee
}

.top-nav .box-cookies .lnk {
    color: #eee
}

.sprite {
    display: block;
    width: 75px;
    height: 75px;
    background: url(~/img/sprite.png) no-repeat 0 0
}

.box-partner .inline {
    float: right
}

.box-partner .vector {
    height: 30px;
    margin-left: 15px
}

.box-partner .v-gambleaware {
    width: 150px
}

.box-partner .v-geotrust {
    width: 100px
}

.box-partner .v-visa {
    width: 40px
}

.box-partner .v-mastercard {
    width: 52px
}

.social .txt,
.partner .txt {
    position: absolute;
    left: -9999px;
    top: -9999px
}

.ending {
    position: fixed;
    bottom: 0;
    left: 25px;
    background: #ae5279;
    color: #fff;
    padding: 10px 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    margin: auto;
    z-index: 11;
    font-weight: bold;
    border-radius: 5px 5px 0 0
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3 / 2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {
    .sprite {
        background-image: url("~/img/sprite@2x.png");
        background-size: 270px 220px
    }
}

.media {
    width: 0;
    height: 0
}

.mobile {
    display: none
}

@media only screen and (max-width: 1200px) {
    .media {
        width: 1px
    }
    .wrapper {
        max-width: 992px
    }
}

.images-payment-center {
    display: none
}

@media only screen and (max-width: 768px) {
    .images-payment {
        visibility: hidden
    }
    .images-payment-center {
        display: initial
    }
}

@media only screen and (max-width: 992px) {
    .media {
        width: 2px
    }
    .wrapper {
        max-width: 768px
    }
    .header .v-logo {
        width: 250px;
        height: 54px
    }
    .main-nav a {
        padding: 10px 12px;
        min-height: 62px
    }
    .main-nav .subnav a {
        min-height: inherit
    }
    .box-links .col20per {
        padding: 0 10px
    }
}

@media only screen and (min-width: 769px) {
    #content {
        background: url(~/img/bg.jpg) no-repeat 50% 0;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
        text-align: left;
        padding-top: 20px
    }
    .main-nav .username {
        display: inline-block;
        position: relative;
        bottom: -2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 110px;
        margin-bottom: -1px
    }
}

@media only screen and (max-width: 768px) {
    #content {
        background-image: none
    }
    .br,
    .br {
        display: none
    }
    #content {
        padding: 0
    }
    .head {
        padding: 5px 15px;
        border: 0;
        display: none
    }
    .media {
        width: 3px
    }
    .wrapper {
        max-width: 100%
    }
    .main-foot {
        border: 0;
        text-align: center
    }
    .main-foot .logo {
        margin: 0 auto;
        float: none;
        display: block
    }
    .main-foot .logo .vector {
        width: 150px
    }
    .main-foot .social {
        clear: both;
        float: none;
        margin-bottom: 10px
    }
    .main-foot .info .cols {
        margin-bottom: 0
    }
    .main-foot .col20per {
        width: 50%;
        float: left;
        margin-bottom: 1.5em;
        padding: 0
    }
    .main-foot .box-links {
        margin-top: 0
    }
    .box-links {
        padding: 0 20px
    }
    .box-links a {
        display: inline-block;
        padding: 3px 0;
        margin-bottom: 3px
    }
    .box-links a:hover,
    .box-links a:focus {
        text-decoration: underline
    }
    .box-links li {
        margin-bottom: 0
    }
    .logo-social li {
        margin-left: 40px
    }
    .logo-social li:first-child {
        margin-left: 0
    }
    .btn.big {
        font-size: 0.9375em
    }
    #language a {
        text-decoration: none
    }
    #changelanguage a {
        text-decoration: none
    }
    .info .wrapper {
        text-align: center
    }
    .info .txt,
    .info .partner {
        margin: 0 auto 2em;
        float: none
    }
    .main-foot .col20per:nth-child(odd) {
        clear: both
    }
    .logo-social .wrapper {
        text-align: center
    }
    .main-foot .small-logo {
        display: block;
        margin: 10px auto 0;
        float: none
    }
    .fix-margin {
        margin: 0 auto 15px
    }
    .partner ul {
        text-align: center
    }
    .partner li {
        margin-bottom: 15px
    }
    .partner li:first-child {
        margin-left: 0
    }
    .box-links .col20per {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0
    }
    .box-links a {
        display: block;
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 7px 0;
        margin-bottom: 0
    }
    .box-links li:first-child a {
        border-top: 1px solid #ddd
    }
    .box-basic,
    .box-basic.small,
    .box-basic.medium,
    .box-basic.large {
        width: 100%;
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        margin-bottom: 0 !important
    }
    .minimal .box-basic {
        margin-bottom: 0 !important
    }
    .minimal .main-foot .col8,
    .minimal .main-foot .col4 {
        margin: 0 auto 1em
    }
    .minimal .main-foot .txt {
        text-align: center
    }
    .ending {
        left: 0;
        right: 0;
        border-radius: 0;
        padding: 10px;
        font-size: 90%
    }
    .header .v-logo {
        width: 200px;
        height: 40px
    }
    .box-partner {
        text-align: center
    }
    .box-partner .inline {
        float: none;
        margin: 0 auto 20px
    }
    .box-partner .vector {
        margin: 0 10px
    }
}

.wrapper-min-footer {
    max-width: 1180px;
    margin: auto;
    min-width: 235px
}

@media only screen and (max-width: 480px) {
    .media {
        width: 4px
    }
    .box-cookies {
        line-height: 135%
    }
    .box-cookies .lnk {
        display: block
    }
    .minimal .main-foot .wrapper {
        padding: 0 15px
    }
    .overlay-limit-bet {
        width: 95%;
        height: 35px;
        bottom: 0px
    }
}

@media only screen and (max-width: 320px) {
    .media {
        width: 5px
    }
}

.h2 {
    font-family: "Work Sans", sans-serif;
    color: #444444;
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase
}

#content {
    background: none;
    padding-top: 0
}

.view-more-a,
.view-more-a:visited {
    display: block;
    float: right;
    font-family: "Chivo", sans-serif;
    color: #f0c11c;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase
}

.resizeme {
    opacity: 0;
    white-space: nowrap;
    box-sizing: border-box
}

.resizeme>* {
    display: inline-block !important;
    box-sizing: border-box;
    white-space: nowrap;
    font-size: inherit !important
}

.resizeme>* * {
    font-size: inherit !important
}