@import url("https://fonts.googleapis.com/css?family=Chivo:400,600,700|Roboto:400,700,900|Roboto+Condensed:700|Work+Sans:300,400,500,600,700,900");
.box-threshold .txt {
    line-height: 32px;
    display: inline-block;
    font-size: 0.875em;
    margin-right: 5px
}

.box-threshold .checkbox {
    position: relative;
    top: 2px;
    float: left;
    height: 30px
}

.box-threshold .input-value input {
    border: 1px solid #aaa;
    line-height: 30px;
    padding: 0 5px;
    font-size: 0.875em;
    height: 30px
}

.box-threshold .styled-select {
    width: auto
}

.box-threshold .details {
    margin-left: 7px;
    display: inline-block
}

@media only screen and (max-width: 768px) {
    .box-threshold .checkbox {
        float: none;
        height: auto
    }
    .box-threshold .details {
        display: inline;
        margin-left: 5px;
        top: 1px
    }
}

@media only screen and (max-width: 580px) {
    .box-threshold .threshold {
        margin-bottom: 5px
    }
}

.special {
    margin-bottom: 0;
    border: 1px solid #efc048;
    border-width: 0 1px !important;
    background: #fff;
    padding: 7px 15px;
    font-size: 0.875em;
    font-style: italic;
    text-align: center
}

.special .ico {
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 5px;
    width: 18px
}

.bg-top {
    padding: 15px 20px;
    background: #000736;
    border-radius: 5px 5px 0 0
}

.bg-top .cols {
    margin: 0
}

.bg-top .h3,
.bg-top .h1 {
    margin: 0;
    color: #fff
}

.bg-top .jackpot {
    float: left;
    position: relative;
    margin-top: -5px;
    line-height: 100%
}

.bg-top .draw {
    position: relative;
    z-index: 1;
    float: right;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7)
}

.bg-top:before {
    content: "";
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 56px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0
}

.btn.clear {
    position: relative;
    width: 90px;
    bottom: -16px;
    margin: -12px auto 0;
    display: block
}

.btn.clear .ico {
    position: relative;
    margin-left: 4px
}

.box-action {
    float: left;
    margin: 0 0 0 15px
}

.box-action li {
    margin: 0 10px 10px 0;
    display: inline-block
}

.box-action li.fix-margin {
    display: none
}

.box-action .btn {
    font-weight: normal
}

.box-action .ico {
    position: relative;
    margin-left: 4px;
    top: 2px
}

.box-action .v-shuffle {
    font-size: 125%;
    top: 4px;
    margin-top: -3px
}

.box-action .v-plus {
    margin-left: 7px
}

#box-action .info {
    margin: 3px 14px 0 0;
    font-size: 0.875em;
    color: #372c72;
    font-weight: bold;
    background: #fff;
    padding: 3px 6px
}

.box-bottom {
    padding: 10px 12px;
    border-top: 1px solid #efc048;
    background: #fff;
    border-radius: 0 0 5px 5px
}

.box-bottom select {
    font-size: 0.875em
}

.box-bottom .label {
    font-size: 0.875em;
    display: inline-block;
    font-weight: 700;
    margin-bottom: .2em
}

.box-bottom .cols {
    margin: 0
}

.box-bottom .col2 {
    padding-top: 5px
}

.box-bottom .v-question-mark {
    display: inline-block;
    position: relative;
    font-size: 18px;
    bottom: -4px;
    color: #777;
    margin-left: 2px
}

.christmasTicketImg {
    position: relative;
    width: 100%;
    margin-bottom: 10px
}

.christmasTicketTxt {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100%;
    font-size: 30px
}

.gameplay {
    border: 1px solid #efc048;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    margin-bottom: 2em
}

.border-top-yellow {
    border-top: 1px solid #efc048
}

.box-bottom .col2,
.box-bottom .col6 {
    border-right: 12px solid transparent
}

.box-bottom>.wrap {
    margin-right: -12px
}

.gameplay .h4.blue {
    color: #372c72;
    margin: 4px 0 22px;
    line-height: 100%;
    text-shadow: -2px 0 #fff, 0 2px #fff, 2px 0 #fff, 0 -2px #fff, 2px 2px #fff, -2px 2px #fff, 2px -2px #fff, -2px -2px #fff
}

.line {
    position: relative;
    border: 2px solid #efc048;
    border-radius: 5px;
    background: #fff
}

.line:hover {
    border-color: #ae5279;
    transition: border .2s ease
}

.line .v-shuffle {
    position: relative;
    top: -1px;
    left: 1px;
    font-size: 160%
}

.box-lines {
    margin: 0;
    padding: 5px 6px 0;
    right: -6px;
    position: relative
}

.box-lines .myCol {
    margin-bottom: 20px;
    width: 16.66666666666667%;
    float: left;
    border-right: 12px solid transparent
}

.combo {
    position: relative;
    margin: -18px auto 0;
    width: 110px
}

.combo .btn {
    display: block;
    min-height: 35px;
    line-height: 0
}

.combo .col6 .gwy {
    border-radius: 5px
}

.combo .col6 .gwy:hover,
.combo .col6 .gwy:focus {
    border: 1px solid #ae5279
}

.line .numbers {
    padding: 6px 8px 0;
    margin-right: -4px
}

.line .numbers li,
.line .stars li {
    border-right: 4px solid transparent
}

.line .numbers .cols {
    margin: 0 0 4px
}

.line .gwp {
    padding: 2px 0;
    width: 100%;
    background: transparent;
    transition: none
}

.line .gwp.active {
    background: #1c173b;
    border: 1px solid #1c173b;
    color: #fff
}

.line .stars {
    position: relative;
    margin: 7px 2px 3px 7px
}

.line .stars a {
    text-decoration: none;
    margin: auto
}

.line .stars a:hover,
.line .stars a:focus,
.line .stars a .txt:hover,
.line .stars a .txt:focus {
    color: #372c72
}

.line .stars .cols {
    margin: 0
}

.line .stars .ico {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    color: #efc048;
    transition: color .15s ease
}

.line .stars .ico .vector {
    position: absolute;
    width: 100%;
    height: 100%
}

.line .stars .ico .v-star {
    display: none
}

.line .stars .ico .v-star-out {
    display: block
}

.line .stars .txt {
    position: relative;
    top: 10px;
    width: 100%;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ae5279;
    display: block
}

.line .stars .active.ico .v-star {
    display: block
}

.line .stars .active.ico .v-star-out {
    display: none
}

.line .stars .active.ico:hover,
.line .stars .active.ico:focus {
    color: #efc048
}

.line .stars .active.ico .txt,
.line .stars .active.ico .txt:hover,
.line .stars .active.ico .txt:focus {
    color: #fff
}

.line .extra-pad {
    padding: 0 22px
}

.line .v-checkmark {
    position: absolute;
    top: 155px;
    left: 0;
    width: 100%;
    font-size: 600%;
    color: #007800;
    opacity: .4
}

.number-on .clear {
    visibility: visible
}

.add-cart,
.add-cart:hover,
.add-cart:focus {
    position: relative;
    font-weight: 700;
    text-shadow: 0 0 0 transparent;
    border: 1px solid #777;
    background: #aaa;
    color: #fff;
    padding: 10px;
    cursor: default;
    margin: 0 12px
}

.active.add-cart {
    transition: background .2s, border .2s, color .2s;
    cursor: pointer;
    color: #fff;
    background: #ae5279;
    border-color: #7a3955;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
}

.active.add-cart .separator {
    border-color: #7a3955;
    transition: border .2s
}

.active.add-cart:hover,
.active.add-cart:hover .separator,
.active.add-cart:focus,
.active.add-cart:focus .separator {
    background: #7a3955;
    color: #fff;
    border-color: #333
}

.active.add-cart:active .separator {
    border-color: #333
}

.box-bottom .reset {
    font-weight: normal
}

.box-bottom .v-clover {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-left: 7px
}

.box-bottom .v-cross {
    margin-left: 7px
}

.gap {
    padding: 0 10px
}

.separator {
    position: absolute;
    top: 0;
    border-right: 1px solid #777;
    display: inline-block;
    width: 1px;
    height: 40px
}

.advanced-play {
    position: relative;
    margin: 0 0 -10px
}

.advanced-play .hr {
    margin: 10px 0 0 -12px
}

.advanced-play .close {
    position: absolute;
    top: 7px;
    right: 5px;
    text-decoration: none;
    padding: 2px 4px;
    color: #777;
    z-index: 1
}

.advanced-play .close:hover,
.advanced-play .close:focus {
    color: #333
}

.advanced-play .close .ico {
    width: 18px
}

.advanced-play select:disabled {
    background: #ccc
}

.advanced-play .wrap {
    display: inline-block;
    margin-left: 2px
}

.wrap-threshold {
    position: relative;
    padding: 5px 15px 10px;
    background: #eee;
    border-radius: 0 0 5px 0
}

.wrap-threshold .txt,
.wrap-threshold .checkbox {
    cursor: pointer
}

.button-draw-list {
    margin-top: 15px;
    clear: left
}

.box-button-draw-left {
    width: 95px;
    float: left
}

.box-button-draw-right {
    padding-top: 5px
}

.total-price-description {
    color: #ae5279;
    font-weight: bold;
    font-size: 20px
}

.description-before-price {
    font-weight: bold;
    font-size: 20px;
    padding-right: 350px
}

@media only screen and (max-width: 1200px) {
    .gameplay {
        overflow: visible
    }
    .box-bottom .col2 {
        width: 32%;
        float: left;
        display: block;
        margin-bottom: 15px
    }
    .box-bottom .wrap-threshold {
        width: 100%;
        display: inline-table !important;
        overflow: auto;
        margin-left: -12px;
        border-right: 22px solid #eee;
        border-radius: 0 0 5px 5px
    }
    .box-bottom .cols {
        width: 96%
    }
    .line .stars .ico {
        font-size: 200%
    }
    .line .stars .txt {
        top: 10px
    }
    .line .numbers .btn,
    .line .stars .txt {
        font-size: 13px
    }
    .box-lines {
        margin-right: 0;
        padding: 10px 0 0 30px;
        display: block;
        right: 0
    }
    .box-lines .myCol {
        width: 33.3%;
        border-right: 30px solid transparent
    }
    .box-lines .myCol:last-child {
        border-right: 30px solid transparent
    }
    .box-action {
        margin-right: 31px
    }
    .description-before-price {
        padding-right: 250px
    }
}

@media only screen and (max-width: 992px) {
    .gameplay {
        background-size: cover
    }
    .box-bottom .col2 {
        width: 31%
    }
    .box-bottom .wrap-threshold {
        margin-left: -12px;
        border-right: 12px solid #eee
    }
    .gap {
        padding: 0 9px
    }
    .line .stars .ico {
        font-size: 180%
    }
    .line .stars .txt {
        top: 9px
    }
    .box-lines {
        margin-right: 0;
        padding: 10px 0 0 5px;
        right: -6px
    }
    .box-lines .myCol {
        width: 33.3%;
        border-right: 15px solid transparent
    }
    .box-lines .myCol:last-child {
        border-right: 15px solid transparent
    }
    .box-action {
        margin: 0 12px
    }
    .description-before-price {
        padding-right: 0
    }
}

@media only screen and (max-width: 768px) {
    .main-foot .cols,
    .box-bottom .cols {
        margin-bottom: 0;
        display: block
    }
    .main-foot .col1,
    .main-foot .col2,
    .main-foot .col3,
    .main-foot .col4,
    .main-foot .col5,
    .main-foot .col6,
    .main-foot .col7,
    .main-foot .col8,
    .main-foot .col9,
    .main-foot .col10,
    .main-foot .col11,
    .main-foot .col12,
    .main-foot .col20per,
    .box-bottom .col1,
    .box-bottom .col2,
    .box-bottom .col3,
    .box-bottom .col4,
    .box-bottom .col5,
    .box-bottom .col6,
    .box-bottom .col7,
    .box-bottom .col8,
    .box-bottom .col9,
    .box-bottom .col10,
    .box-bottom .col11,
    .box-bottom .col12,
    .box-bottom .col20per {
        display: block;
        float: none;
        position: relative;
        width: 100%;
        border: 0 !important;
        margin: 0 0 2em;
        padding-bottom: 0
    }
    .bg-top {
        padding: 5px 10px 10px
    }
    .bg-top .jackpot,
    .bg-top .draw {
        float: none
    }
    .bg-top .draw {
        margin-bottom: 4px
    }
    .bg-top .jackpot {
        margin: 0
    }
    .bg-top:before {
        height: 76px
    }
    .gameplay {
        border-right: 0;
        border-left: 0;
        border-radius: 0
    }
    .gameplay>.cl {
        text-align: center
    }
    .bg-top,
    .bg-top:before {
        border-radius: 0
    }
    .box-action {
        float: none;
        margin: 0 20px 0
    }
    .box-action li {
        margin: 0 10px 10px 0
    }
    #box-action .info {
        float: none;
        margin: 0 auto 10px
    }
    .box-bottom {
        background: #fffeec;
        border-radius: 0
    }
    .box-bottom .col2 {
        margin: 0 0 10px
    }
    .box-bottom .wrap-threshold {
        text-align: center;
        margin: 20px -12px 0 -12px;
        padding-bottom: 15px
    }
    .box-bottom .wrap-threshold .label {
        margin-bottom: 5px
    }
    .box-bottom .cols {
        width: 100%
    }
    .box-bottom .right {
        float: none;
        margin: auto
    }
    .box-bottom .col2 select,
    .box-bottom .col2 .label {
        width: 75%;
        margin: auto
    }
    .box-bottom>.wrap {
        margin: 0
    }
    .gap {
        padding: 0 10px
    }
    .box-lines {
        margin-right: 0;
        padding: 10px 0 0 15px;
        right: 0
    }
    .box-lines .myCol {
        width: 33.3%;
        border-right: 12px solid transparent
    }
    .box-lines .myCol:last-child {
        border-right: 12px solid transparent
    }
    .box-lines .myCol:nth-child(3n) {
        border-right: 12px solid transparent
    }
    .advanced-play .hr {
        margin: 20px -12px
    }
    .advanced-play .close {
        top: 10px;
        right: -2px
    }
    .special {
        border-width: 0 !important
    }
    .total-price-description:before {
        content: "\a";
        white-space: pre
    }
    .description-before-price {
        padding-right: 0
    }
    .description-before-price:after {
        content: "\a";
        white-space: pre
    }
}

@media all and (min-width: 581px) {
    .bg-top {
        background: #000736 url(~/img/play/europe.jpg) no-repeat right center
    }
}

@media only screen and (max-width: 580px) {
    .box-bottom .col2 select,
    .box-bottom .col2 .label {
        width: 100%
    }
    .gameplay {
        padding-top: 10px
    }
    .gameplay .wrap {
        margin: 0 -6px 0 0
    }
    .line .numbers .btn,
    .line .stars .txt {
        font-size: 12px
    }
    .line .stars .ico {
        font-size: 160%;
        width: 100%
    }
    .line .numbers {
        padding: 10px 4px 0
    }
    .line .numbers li,
    .line .stars li {
        border-width: 3px
    }
    .bg-top {
        background: #1C365B;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFjMzY1YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #010101), color-stop(100%, #1c365b));
        background-image: -moz-linear-gradient(#010101, #1c365b);
        background-image: -webkit-linear-gradient(#010101, #1c365b);
        background-image: linear-gradient(#010101, #1c365b)
    }
    .bg-top:before {
        display: none
    }
    .bg-top .cols {
        margin-bottom: 0;
        display: block
    }
    .bg-top .h3,
    .bg-top .h1 {
        text-align: center;
        display: block
    }
    .box-lines {
        padding-top: 0
    }
    .total-price-description:before {
        content: "\a";
        white-space: pre
    }
    .description-before-price {
        padding-right: 0
    }
    .description-before-price:after {
        content: "\a";
        white-space: pre
    }
}

@media only screen and (min-width: 481px) {
    .gameplay {
        background: #fdfdfa url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAK0lEQVQImWNgwALe7/dowCaOVRFexeiSWBXjMgFFnJCb3u/3aCDO4QwMDADdYxidqF4zswAAAABJRU5ErkJggg==) 50% 50%
    }
}

@media only screen and (max-width: 480px) {
    .box-lines {
        padding: 0 0 0 12px;
        margin-right: 0
    }
    .box-lines .myCol {
        width: 50%
    }
    .bg-top .h1 {
        font-size: 1.375em
    }
    .bg-top .h3 {
        font-size: 0.75em;
        line-height: 125%;
        font-weight: normal
    }
    .box-action {
        text-align: center;
        margin-bottom: 10px
    }
    .box-action li {
        float: none;
        margin: 0 auto 10px
    }
    .advanced {
        margin-bottom: 15px
    }
    .special {
        font-size: 0.75em;
        line-height: 1.375em
    }
    .total-price-description {
        font-size: 14px
    }
    .total-price-description:before {
        content: "\a";
        white-space: pre
    }
    .description-before-price {
        font-size: 14px;
        padding-right: 0
    }
    .description-before-price:after {
        content: "\a";
        white-space: pre
    }
}

@media only screen and (max-width: 320px) {
    .gameplay .wrap {
        margin-right: 0
    }
    .box-action {
        margin-top: 5px
    }
    .box-lines {
        padding: 0 20px 0
    }
    .box-lines .myCol {
        width: 100%;
        border-width: 0 !important
    }
    .line .numbers .btn,
    .line .stars .txt {
        font-size: 14px
    }
    .line .stars .ico {
        font-size: 220%
    }
    .line .stars .txt {
        top: 11px
    }
    .line .numbers {
        padding: 10px 10px 0;
        margin-right: -10px
    }
    .line .numbers li,
    .line .stars li {
        border-width: 6px
    }
    .line .extra-pad {
        padding: 0 30px
    }
    .box-value {
        display: inline-block
    }
    .play .cols:not(.not) {
        margin-bottom: 0;
        display: block
    }
    .play .col1:not(.not),
    .play .col2:not(.not),
    .play .col3:not(.not),
    .play .col4:not(.not),
    .play .col5:not(.not),
    .play .col6:not(.not),
    .play .col7:not(.not),
    .play .col8:not(.not),
    .play .col9:not(.not),
    .play .col10:not(.not),
    .play .col11:not(.not),
    .play .col12:not(.not),
    .play .col20per:not(.not) {
        display: block;
        float: none;
        position: relative;
        width: 100%;
        border: 0 !important;
        padding-bottom: 0
    }
    .total-price-description {
        font-size: 14px
    }
    .total-price-description:before {
        content: "\a";
        white-space: pre
    }
    .description-before-price {
        font-size: 14px;
        padding-right: 0
    }
    .description-before-price:after {
        content: "\a";
        white-space: pre
    }
}